.body {
    display: flex;
    flex-direction: column;
}
.Entire-Footer {
    width: 100%;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: "Gill Sans", sans-serif;
}

.Footer {
    background-color: #2196f3;
}

.individual-Titles {
    font-size: 1em;
}